body {
  background-color:#b2cfff;
  font-family:Impact;
}
  
  
p{
  font-family:Cursive;
  color:black;
}

h1{
  background-color:#e8eef7;
  text-align:center;
  font-size:450px;
  color:black;  
  border-bottom:3px;
  padding-top:50px;
}


#Home{
  height:650px;
  width:1150px;
}

.navbar navbar-default{
  float:left;  
}

.item{
  text-align:center;
  height:333px;
}

.item active{
  text-align:center;
  height:333px;
}

#myCarousel{
  padding-bottom:30px;
}

p{
  font-size:50px;
  font-family:Impact;
  text-align:center;
  border-bottom:solid 3px;
}

.navbar header{
  font-size:50px;
}
.bilder{
  height:270px;
  width:260px;
}

#Anfahrt{
  font-size:50px;
  font-family:Impact;
}

#Bild-unten{
  width:1150px;
}

#Plane{
  text-decoration:none;
  color:#021533;
}

#Home{
  padding-top:50px;
}

#Nav1{
  padding-top:50px;
}

#Nav2{
  padding-top:50px;
}

#Anfahrt{
  padding-top:50px;
}

.navbar navbar-default navbar-fixed-top{
  height:70px;
}
