body {
  background-color:#b2cfff;
  font-family:Impact;
}
  
  
p{
  font-family:Cursive;
  color:black;
}

h1{
  background-color:#e8eef7;
  text-align:center;
  font-size:450px;
  color:black;  
  border-bottom:2px;
  padding-top:50px;
}


#Home{
  height:700px;
  width:1150px;
}


.item{
  text-align:center;
  height:333px;
}

.item active{
  text-align:center;
  height:333px;
}

#myCarousel{
  padding-bottom:30px;
}

p{
  font-size:50px;
  font-family:Impact;
  text-align:center;
  border-bottom:solid 2px;
}

.navbar header{
  font-size:50px;
}



#Anfahrt{
  font-size:50px;
  font-family:Impact;
}

#Bild-unten{
  width:1150px;
}

#Plane{
  text-decoration:none;
  color:#021533;
}

#Home{
  padding-top:50px;
}

#Nav1{
  padding-top:50px;
}

#Nav2{
  padding-top:50px;
}

#Anfahrt{
  padding-top:50px;
}

.Tor{
  font-size:35px;
}

li{
  width:60px;
  height:60px;
}
