body{
    font-family:Broadway;
    background: #c5deea;
    background: -moz-linear-gradient(top,  #c5deea 0%, #8abbd7 48%, #066dab 100%);
    background: -webkit-linear-gradient(top,  #c5deea 0%,#8abbd7 48%,#066dab 100%);
    background: linear-gradient(to bottom,  #c5deea 0%,#8abbd7 48%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
    background-repeat:none;
}

h1{
    color:#00cc00;
    font-size:80px;
    text-align:center;
}        
