body{
    font-family:Roboto;
    background: #c5deea;
    background: -moz-linear-gradient(top,  #c5deea 0%, #8abbd7 48%, #066dab 100%);
    background: -webkit-linear-gradient(top,  #c5deea 0%,#8abbd7 48%,#066dab 100%);
    background: linear-gradient(to bottom,  #c5deea 0%,#8abbd7 48%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
    background-repeat:none;
    height:1000px;
    width:100%;
    font-size:50px;
}

h1{
    color:#485652;
    font-size:100px;
    text-align:center;
}        

#soccer{
    float:right;
    background-color:orange;
}
