h1 {
    text-align:center;
    color:#4a4c4f;
    font-family:Roboto;
    font-size:80px;
    border-bottom:solid 3px #96989b;
    background-color:#e1e3e8;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

body {
    font-size:35px;
}    

#Daten {
    margin-bottom:30px;
    border-bottom:dashed 3px #96989b;
    margin-left:45px;
}    

#Schullaufbahn{
    margin-left:45px;
    float:right;
}    
