h1 {
    text-align:center;
    color:#4a4c4f;
    font-family:Roboto;
    font-size:80px;
    border-bottom:solid 3px #96989b;
    background-color:#e1e3e8;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

body {
    font-size:35px;
}    

#Daten {
    margin-bottom:30px;
    margin-left:45px;
    display:inline-block;
}    

#Schullaufbahn {
    float:right;
    margin-right:200px;
    border-left:dashed 3px #96989b;
    padding-left:180px;
}    

#content{
    border-bottom:dashed 3px #96989b;
    background-color:#e3e7ed;
}    
